.ip-address-container {
  
  font-family: "Open-Sans", sans-serif;
  color:#4f5051;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header h2{
  font-size:20px;
  line-height:30px;
  color:#4f5051;

}

.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.address-table {
  width: 100%;
  border-collapse: collapse;
}

.address-table th, .address-table td {
  
  padding: 8px;
  text-align: left;
}

.address-table th {
  background-color: #f4f4f4;
}
.header-actions {
  display: flex;
  align-items: center;
}

.export-icon {
  color: #4f5051; /* Icon color */
  font-size: 28px; /* Icon size */
  margin-left: 15px; /* Space between the search bar and icon */
  cursor: pointer; /* Pointer cursor on hover */
  transition: color 0.3s, transform 0.3s; /* Smooth transition effects */
}

.export-icon:hover {
  color: rgba(0, 0, 0, 0.514); /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}
.header-actions {
  display: flex;
  align-items: center;
  position: relative; /* To position the tooltip relative to the header-actions */
}

.export-icon {
  color: #4f5051; /* Icon color */
  font-size: 28px; /* Icon size */
  margin-left: 15px; /* Space between the search bar and icon */
  cursor: pointer; /* Pointer cursor on hover */
  transition: color 0.3s, transform 0.3s; /* Smooth transition effects */
  position: relative;
}

.export-icon:hover {
  color: rgba(0, 0, 0, 0.514); /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}

/* Tooltip container */
.export-tooltip {
  visibility: hidden; /* Hidden by default */
  background-color: #4f5051; /* Background color */
  color: #fff; /* Text color */
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
 
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
  font-size: 14px;
 
}

.export-button:hover .export-tooltip {
  visibility: visible; /* Show the tooltip on hover */
}
.address-table {
  width: 100%;
  border-collapse: collapse;
}

.address-table th, .address-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.address-table th {
  background-color: #f4f4f4;
}

.device-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.device-status.online {
  background-color: green;
}

.device-status.offline {
  background-color: red;
}



























